am-kernels/tests/cpu-tests/.result
am-kernels/tests/am-tests/build
abstract-machine/klib/build/
nemu/tools/spike-diff/build
npc/build
am-kernels/tests/cpu-tests/build/
abstract-machine/am/build
npc/sim.fst
nemu/build/
*.o
*.a
*.so
*.elf
*.bin
*.vcd
*.fst
